/*--------------------------------- Estilo gerais ---------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*------------- Estilo para celulares ou telas menores que 768 pixels -------------*/
@media (max-width: 768px){
    body {
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 5vw;
        max-width: 100%;
        line-height: 1.5;
        text-align: left;
        padding: 0 10px;
    }

    #imagem_pessoal {
        width: 40%;
        height: 40%;
        border-radius: 50%;
        margin-bottom: 20px;
        margin: 25px auto;
        border: 5px solid rgb(243, 198, 0);
    }

    .imagem-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: underline solid rgb(243, 198, 0) 2px;  
    }
}

/*------------- Estilo para tablets ou telas menores que 1024 pixels --------------*/
@media (max-width: 1024px) {
        body {
            background-color: black;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 3vw;
            max-width: 100%;
            line-height: 1.5;
            text-align: left;
            padding: 0 10px;
        }
    
        #imagem_pessoal {
            width: 40%;
            height: 40%;
            border-radius: 50%;
            margin-bottom: 20px;
            margin: 25px auto;
            border: 5px solid rgb(243, 198, 0);
        }
    
        .imagem-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        a {
            color: white;
            text-decoration: underline solid rgb(243, 198, 0) 2px;  
        }
    }

/*------------- Estilo para desktop ou telas maiores que 1025 pixels --------------*/
@media (min-width: 1025px) {

    body {
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        line-height: 1.5;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "nav" "section" "footer";
        margin: 100px 20px;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 0;
    }

    #imagem_pessoal {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 5px solid rgb(243, 198, 0);
    }

    #imagem_pessoal:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .imagem-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        transition: 0.3s;
        text-decoration: underline solid rgb(243, 198, 0) 2px;  
    }

    a:hover {
        color:rgb(243, 198, 0);
        font-size: 17px;
    }

    nav {
        width: 100%;
    }

    nav ul li {
        margin-bottom: 10px;   
    }

    #hobbies_interesses {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}