/*--------------------------------- Estilo gerais ---------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body > nav {
    grid-area: nav;
}

body > section {
    grid-area: section;
}	

body > footer {
    grid-area: footer;
}

.icons {
    width: 6%;
    height: 6%;
    margin-right: 10px;
    margin-left: 10px;
}

/*------------- Estilo para celulares ou telas menores que 768 pixels -------------*/
@media (max-width: 768px){
    body {
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 4vw;
        max-width: 100%;
        line-height: 1.5;
        text-align: left;
        padding: 0 10px;
    }

    .imagem-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        text-decoration: underline solid rgb(243, 198, 0) 2px;  
    }

    #section_semestre {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #projetos_realizados {
        display: grid;
        grid-template-columns: 1fr;
    }

    .projetos {
        border: 1px solid rgb(243, 198, 0);
        margin: 10px;
        border-radius: 10px;
        width: 95%;
        background-color: black;
        color: white;
        transition: 0.3s;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }

    .projetos img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    .projetos a {
        color: white;
        text-decoration: none;
        
    }
}

/*------------- Estilo para tablets ou telas menores que 1024 pixels --------------*/
@media (max-width: 1024px) and (min-width: 769px){
        body {
            background-color: black;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 3.5vw;
            max-width: 100%;
            line-height: 1.5;
            text-align: left;
            padding: 0 10px;
        }
    
        #menu ul li {
            margin-bottom: 10px;
            font-size: 6vw;
            font-weight: bold;
            padding: 10px;
        }

        #imagem_pessoal {
            width: 40%;
            height: 40%;
            border-radius: 50%;
            margin-bottom: 20px;
            margin: 25px auto;
            border: 5px solid rgb(243, 198, 0);
        }
    
        .imagem-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        a {
            color: white;
            text-decoration: underline solid rgb(243, 198, 0) 2px;  
        }

        #section_semestre {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        #projetos_realizados {
            display: grid;
            grid-template-columns: 1fr;
        }
        
        

        .projetos {
            border: 1px solid rgb(243, 198, 0);
            margin: auto;
            margin-bottom: 100px;
            border-radius: 10px;
            width: 90%;
            background-color: black;
            color: white;
            transition: 0.3s;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
        }
    
        .projetos img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    
        .projetos a {
            color: white;
            text-decoration: none;
            
        }
    }

/*------------- Estilo para desktop ou telas maiores que 1025 pixels --------------*/
@media (min-width: 1025px) {

    body {
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        line-height: 1.5;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
            "nav section footer";
        margin: 100px 20px;
    }

    #menu ul li a, footer ul li a {
        font-size: 25px;
    }

    
    h1 {
        font-size: 35px;
        margin-bottom: 0;
    }

    #imagem_pessoal {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 5px solid rgb(243, 198, 0);
    }

    #imagem_pessoal:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .imagem-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        transition: 0.3s;
        text-decoration: underline solid rgb(243, 198, 0) 2px;  
    }

    a:hover {
        color:rgb(243, 198, 0);
    }

    nav, footer {
        width: 100%;
    }

    #section_semestre {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #projetos_realizados {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projetos {
        border: 1px solid rgb(243, 198, 0);
        margin: 10px;
        border-radius: 10px;
        width: 75%;
        background-color: black;
        color: white;
        transition: 0.3s;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }

    .projetos:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    .projetos img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .projetos a {
        color: white;
        text-decoration: none;
        
    }

}